<html>
<head>

</head>
    <body>

  
    <h1>Login with Our app</h1>
        <div class="login">
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" id="email" name="Email" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                     <td><input type="text" id="password" name="Password" /></td>
                </tr>
            
                <tr>
                    <td><input type="hidden" id="clientId" value="@ViewData["ClientId"]"/></td>
                    <td><button id="formSubmit">Call</button></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="RedirectURL" value="@ViewData["RedirectURL"]" /></td> 
                </tr>

            </table>
        
        </div>

        <script src="~/Scripts/jquery-3.2.1.min.js"></script>

        <script src="~/Scripts/temp.js"></script>

  </body>
</html>
