
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminNavigation.cshtml";
}

<div class="container">

<h2>Welcome Admin</h2>

</div>




@section styles{

    <style>
        body{
            background-color: lightcyan;
        }
    </style>

}

