@model YoutubeEntity.Class.User

@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div class="container">

    <form method="post" id="passwordConfirmForm">
        <div class="form-horizontal">


            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="bg-info text-white">Enter New Password</h1>
                </div>
            </div>


            <hr />


            <div class="form-group">
                <label class="col-md-3 h1">New Password</label>
                <div class="col-md-9">
                    <div class="ui-widget">
                        <input class="form-control" type="text" name="Password" id="pass" />
                    </div>
                </div>
            </div>

            <input type="hidden" name="Id" value="@TempData["UserId"]" />

            <div class="form-group">
                <label class="col-md-3 h1">Confirm Password</label>
                <div class="col-md-9">
                    <div class="ui-widget">
                        <input class="form-control" type="text" name="Password" id="conpass" />
                    </div>
                </div>
            </div>

            <h2 class="text-danger" id="errorMessage"></h2>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <button style="height:35px;" type="button" onclick="passCheck()" class="btn btn-primary btn-lg">Update</button>

                </div>
            </div>
        </div>

    </form>



</div>



@section scripts{

<script src="~/Scripts/forgetPassChange.js"></script>

    }
