
@{
    ViewBag.Title = "PasswordRecoveryCode";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="bg-info text-white">Enter Password Recovery Code</h1>
        </div>
    </div>

    <form method="post">

        <input type="hidden"  value="@TempData["UserId"]" name="UserId"/>

        <div class="form-group">
            <label class="col-md-3 h1">Reset Code</label>
            <div class="col-md-9">
                <div class="ui-widget">
                    <input class="form-control" type="number" name="PasswordResetCode" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-12">
                <h1 style="color:red; text-align:center;"> @TempData["ResetCodeNotMatched"]</h1>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-5 col-md-2">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

    </form>



</div>


